div {
    outline: 1px solid lime;
}
.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: blue;
    height: 100px;
    width: 100%;
}
.greentop{
    background-color: green;
    width: 920px;
    height: 500px;
    float: left;
}
.redtop{
    background-color: red;
    width: 920px;
    height: 400px;
    float: left;
}
.yellow1{
    background-color: yellow;
    width: 880px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.yellow2{
    background-color: yellow;
    height: 240px;
    width: 280px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.blue2{
    background-color: blue;
    height: 700px;
    width: 920px;
    float: left;
}
.yellow3{
    background-color: yellow;
    height: 60px;
    width: 880px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
.yellow4{
    background-color: yellow;
    width: 190px;
    height: 160px;
    float: left;
    margin-left: 30px;
    margin-top: 30px
    
}
.green2{
    background-color: green;
    width: 920px;
    height: 700px;
    float: left;
}
.yellow5{
    background-color: yellow;
    height: 100px;
    width: 880px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.yellow6{
    background-color: yellow;
    height: 540px;
    width: 280px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.red2{
    background-color: red;
    width: 920px;
    height: 600px;
    float: left;
}
.yellow7{
    background-color: yellow;
    height: 60px;
    width: 880px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.yellow8{
    background-color: yellow;
    height: 480px;
    width: 600px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.yellow9{
    background-color: yellow;
    width: 260px;
    height: 240px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.blue3{
    background-color: blue;
    width: 920px;
    height: 100px;
    float: left
}