@import url('https://fonts.googleapis.com/css?family=ABeeZee');
div{
    outline: 1px solid cyan;
}
body{
    background-color: #ffffff;
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
}
.nav{
    
}